DATABASE_URL="postgresql://sysadmin-qualisenior:vYmzXrpPGQBfElrRvsEY@127.0.0.1:5432/qualisenior-db-docker?schema=public"
FRONTEND_URL=https://localhost:5173
NODE_ENV=development
PORT=3000
COOKIE_SECRET=[secret]